<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="RestSharp" version="106.13.0" targetFramework="net472" />
  <package id="RestSharp.Serializers.NewtonsoftJson" version="106.13.0" targetFramework="net472" />
</packages>